.gif-container {
    background-image: url('./Html/img/PIDE.gif');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 700px; /* Ajusta la altura según sea necesario */
    margin-top: 0px; /* Espacio de separación con el navbar */
  }

  #mealCarousel {
    max-width: 400px; /* Ancho máximo del carousel */
    margin: auto; /* Centrar el carousel horizontalmente */
    margin-top: 100px; /* Espacio superior */
  }
  #TextoPresentacion {
    margin: auto;
    margin-top: 100px;
  }

  .navbar-brand img {
    height: 40px; /* Ajusta la altura del logo según sea necesario */
    width: auto; /* Mantiene las proporciones del logo */
    margin-right: 10px; /* Espacio entre el logo y el texto */
  }

  
  .card-container {
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
  }

  .card-container .card {
    text-decoration: none;
    color: white;
    transition: transform 0.3s ease;
    height: 200px; /* Altura de las tarjetas */
    overflow: hidden;
  }

  .card-container .card img {
    height: 100%; /* La imagen ocupa toda la tarjeta */
    object-fit: cover; /* Ajusta la imagen dentro de la tarjeta */
  }

  .card-container .card:hover {
    transform: scale(1.1);
  }

  .card-row-2 {
    grid-column: span 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .left-image, .right-image {
    position: absolute;
    width: 400px; /* Ancho de las imágenes */
    height: 200%; /* Altura igual al contenedor */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    z-index: -1; /* Coloca las imágenes detrás del contenido */
  }
  
  .left-image {
    top: 700px; /* Ajusta la posición hacia abajo */
    left: -20px; /* Ajusta la posición a la izquierda */
    background-image: url('./Html/img/Menu\ Online\ \(8\).png'); /* URL de la imagen izquierda */
  }
  
  .right-image {
    top: 700px; /* Ajusta la posición hacia abajo */
    right: -20px; /* Ajusta la posición a la derecha */
    background-image: url('./Html/img/Menu\ Online\ \(9\).png'); /* URL de la imagen derecha */
  }