body {
    background: linear-gradient(to bottom, black 60%, white); /* Degradado desde negro hasta blanco comenzando en el 80% */
    color: white;
}

.navbar {
    background: linear-gradient(to top, black, #333); /* Degradado desde negro a color de fondo del navbar */
}
.navbar-text {
    color: white;
}
.carousel-indicators button {
    background-color: #333; /* Color de fondo para los indicadores del carrusel */
}
.btn-outline-success {
    border-color: white;
    color: white;
}
.btn-outline-success:hover {
    background-color: white;
    color: black;
}
/* Estilo personalizado para el carrusel */
#carouselExampleIndicators {
    max-width: 600px; /* Tamaño máximo del carrusel */
    margin: 0 auto; /* Centrar el carrusel en la página */
}
#carouselExampleIndicators .carousel-inner .carousel-item img {
    max-width: 100%; /* Hacer que las imágenes se ajusten al tamaño del carrusel */
    height: auto; /* Mantener la relación de aspecto original de las imágenes */
}
h3 {
    color: black; /* Cambia el color a azul */
}
.btn-primary {
    background-color: rgb(243, 99, 99); /* Cambia el color de fondo a negro */
    border-color: rgb(248, 189, 79); /* Cambia el color del borde a negro */
}

.btn-primary:hover {
    background-color: #ff5d5d; /* Cambia el color de fondo al pasar el cursor a un gris oscuro */
    border-color: #ffe057; /* Cambia el color del borde al pasar el cursor a un gris oscuro */
}



/*Modo Noche*/

