body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to bottom, #ff7878, #ffffff);
    color: white;
}



/*------------ Login container ------------*/

.box-area {
    width: 930px;
    background: linear-gradient(to bottom, #fd5f5f, #ffffff); /* de negro a blanco */
}


/*------------ Right box ------------*/

.right-box{
    padding: 40px 30px 40px 40px;
}

/*------------ Custom Placeholder ------------*/

::placeholder{
    font-size: 16px;
}

.rounded-4{
    border-radius: 20px;
}
.rounded-5{
    border-radius: 30px;
}


/*------------ For small screens------------*/

@media only screen and (max-width: 768px){

     .box-area{
        margin: 0 10px;

     }
     .left-box{
        height: 100px;
        overflow: hidden;
     }
     .right-box{
        padding: 20px;
     }

}

.curso-image {
    width: 250px; /* Ancho fijo para la imagen */
    border-radius: 20px; /* Radio de borde para hacer los bordes redondeados */
}


/* Cambiar el color del texto "Bienvenido" a negro */
.header-text h2 {
    color: black;
}

/* Cambiar el color del texto "No tienes cuenta" a negro */
.row small {
    color: black;
}
